%h1 Add a new Bill

%form(action="/bill/new" method="POST")
	
	%label(for="amount") Amount:
	%input(type="text" name="bill[amount]" value="#{@bill.amount}")
	
	%label(for="title") Title:
	%input(type="text" name="bill[title]" value="#{@bill.title}")
	
	%label(for="description") Description:
	%textarea(name="bill[description]" value="#{@bill.description}")
	= @bill.description
	
	%label(for="involved_members") Involved Members:
	%textarea(name="bill[involved_members]" value="#{@bill.involved_members}")
	= @bill.involved_members
	
	%input#submit(type="submit" value="Submit") or <a href="/members">cancel</a>