%h1= @bill.title
%ul
	%li= @bill.description
	%li $#{@bill.amount}
%h2 Members Involved:
- unless @involved_members.empty?
	%ul
		- @involved_members.each do |member|
			%li #{member.name}
	
%form(action="/bill/delete/#{@bill.id}" method="DELETE")