%a(href="/members") Back to Members

%h1= @member.name
%a(href="/members/edit/#{@member.id}") Edit Info

%h3 Friends List:
- unless @member.friends.empty?
  %ul
  - @member.friends.each do |friend|
    %li
      %a(href="#{friend.url}")= friend.name
    - unless @member.debts(:with_id => friend.id).empty?
      %ul
        - @member.debts(:with_id => friend.id).each do |debt|
          %li= debt.amount
        %li Balance: #{@member.balance_with(friend.id)}

- else
  %p You ain't got nobodyyyyy.
  
%h2 Add a New Friend
%form(action="/members/friends" method="POST")
  %input(type="hidden" name="source_id" value="#{@member.id}")
  %input(type="text" name="target_id" placeholder="Enter ID Here")
  %input(type="submit" value="Add Friend")
