%a(href="/members") Back to Members

%h1= @member.username
%ul
	%li= @member.name
	%li= @member.age
	%li= @member.email
	%li
		%a(href="/members/edit/#{@member.id}") Edit Info

%h3 Friends List:
- unless @member.friends.empty?
	%ul
	- @member.friends.each do |friend|
		%li #{friend.name}
	- @member.friendships.each do |f|
		%li #{f.target_id}
- else
	%p You ain't got nobodyyyyy.
	%a(href="/friendship/new") Make a Friendship
